<table class="table">
  <thead>
    <tr>
      <th>TimeStamp</th>
      <th>Team</th>
      <th>Challenge</th>
      <th>Submitted Answer</th>
    </tr>
  </thead>

  <tbody>
    <% @attempts.each do |attempt| %>
      <tr>
        <td><%= attempt.created_at %></td>
        <td><%= attempt.team_name %></td>
        <td><%= attempt.challenge_name %></td>
        <td>
          <% if attempt.was_correct_answer %>
            <p class="text-success">
              <%= attempt.submitted_answer %>
            </p>
          <% else %>
            <p class="text-danger">
              <%= attempt.submitted_answer %>
            </p>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
