<h1>Listing challenges</h1>

<table class="table">
  <thead>
    <tr>
      <th>Category</th>
      <th>Name</th>
      <th>Point</th>
      <th>Question</th>
      <th>Solution</th>
      <th>Open?</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @challenges.each do |challenge| %>
      <tr>
        <td><%= challenge.category %></td>
        <td><%= challenge.name %></td>
        <td><%= challenge.point %></td>
        <td><%= truncate(challenge.question) %></td>
        <td><%= truncate(challenge.solution) %></td>
        <td><%= challenge.open %></td>
        <td>
          <span class="btn-group">
            <%= link_to 'Show', private_challenge_path(challenge), class: "btn btn-primary" %>
            <%= link_to 'Edit', edit_private_challenge_path(challenge), class: "btn btn-info" %>
            <%= link_to 'Destroy', private_challenge_path(challenge), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
          </span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Challenge', new_private_challenge_path %>
