<h1>Listing challenges</h1>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Name</th>
      <th>Point</th>
      <th>Question</th>
      <th>Solution</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @challenges.each do |challenge| %>
      <tr>
        <td><%= challenge.category %></td>
        <td><%= challenge.name %></td>
        <td><%= challenge.point %></td>
        <td><%= challenge.question %></td>
        <td><%= challenge.solution %></td>
        <td><%= link_to 'Show', private_challenge_path(challenge) %></td>
        <td><%= link_to 'Edit', edit_private_challenge_path(challenge) %></td>
        <td><%= link_to 'Destroy', private_challenge_path(challenge), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Challenge', new_private_challenge_path %>
