<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:role => 'form'}) do |f| %>
        <h2 class="text-center">Sign in</h2>

        <!-- <div><%#= f.label :email %><br /> -->
        <%= f.email_field :email, :autofocus => true, :class => "form-control email-signin-form", :placeholder => "Email address" %>

        <!-- <div><%#= f.label :password %><br /> -->
        <%= f.password_field :password, :class => "form-control password-signin-form", :placeholder => "Password" %>
        
        <br />

        <%= f.submit "Sign in", class: "btn btn-lg btn-primary btn-block button-signin-form", data: { disable_with: 'wait...' } %>
      <% end %>

      <br />
      <%= link_to "Sign up", new_team_registration_path %>
  </div>
  <div class="col-md-4"></div>
</div>


