<p>
  <strong>Category:</strong>
  <%= @challenge.category %>
</p>

<p>
  <strong>Name:</strong>
  <%= @challenge.name %>
</p>

<p>
  <strong>Point:</strong>
  <%= @challenge.point %>
</p>

<p>
  <strong>Question:</strong>
  <%= @challenge.question %>
</p>

<%= form_tag verify_answer_challenge_path(@challenge), remote: true do %>
  <%= text_field_tag 'answer' %>
  <%= submit_tag 'Submit' %>
<% end %>

<%= link_to 'Back', challenges_path %>
