<div class="panel panel-success">
  <!-- Default panel contents -->
  <div class="panel-heading"><strong><%= @challenge.name %></s> (<%= @challenge.point %> points)</div>
  <div class="panel-body">
    <p class="lead">
      <%= @challenge.question.html_safe %>
    </p>
  </div>
  
  <div class="panel-footer">
    Your Answer:<br />
    <div id="answer_submit">
      <%= form_tag verify_answer_challenge_path(@challenge), remote: true do %>
        <%= hidden_field_tag 'team_id', current_team.id %>
        <%= text_field_tag 'answer', '', size: 75 %>
        <%= submit_tag 'Submit', class: "btn btn-primary btn-sm", data: { disable_with: "Please wait..." } %>
      <% end %>
    </div>
    <div id="answer_result" class="hidden"></div>
  </div>
</div>
<%= link_to '&larr; Go Back'.html_safe, challenges_path %>
