<p>
  <strong>Category:</strong>
  <%= @challenge.category %>
</p>

<p>
  <strong>Name:</strong>
  <%= @challenge.name %>
</p>

<p>
  <strong>Point:</strong>
  <%= @challenge.point %>
</p>

<p>
  <strong>Question:</strong>
  <%= @challenge.question %>
</p>

<div id="answer_submit">
  <%= form_tag verify_answer_challenge_path(@challenge), remote: true do %>
    <%= hidden_field_tag 'team_id', current_team.id %>
    <%= text_field_tag 'answer' %>
    <%= submit_tag 'Submit', data: { disable_with: "Please wait..." } %>
  <% end %>
</div>
<div id="answer_result" class="hidden"></div>

<br>
<%= link_to '&larr; Go Back'.html_safe, challenges_path %>
