<p>
  <strong>Category:</strong>
  <%= @challenge.category %>
</p>

<p>
  <strong>Name:</strong>
  <%= @challenge.name %>
</p>

<p>
  <strong>Point:</strong>
  <%= @challenge.point %>
</p>

<p>
  <strong>Question:</strong>
  <%= @challenge.question %>
</p>

<%= link_to 'Back', challenges_path %>
