<!DOCTYPE html>
<html>
<head>
  <title>FsCompetition</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if notice %>
  <p class="alert alert-info"><%= notice %></p>
<% end %>

<% if alert %>
  <p class="alert alert-info"><%= alert %></p>
<% end %>


<% if admin_signed_in? %>
    Signed in as: <%= current_admin.email %> (<%= link_to "Sign out", destroy_admin_session_path, method: :delete %>)
    <hr>
    <%= link_to "List of Challenges", private_challenges_path %> | 
    <%= link_to "create new challenge", new_private_challenge_path %> | 
    <%= link_to "Attempts", private_attempts_index_path %>
    <hr>
<% else %>
  <%= link_to "Sign in", new_admin_session_path %>
<% end %>

<%= yield %>

</body>
</html>
