<!DOCTYPE html>
<html>
<head>
  <title>FsCompetition</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<% if team_signed_in? %>
  Signed in as <%= current_team.email %> |
  <%= link_to "Edit profile", edit_team_registration_path %> |
  <%= link_to "Sign out", destroy_team_session_path, method: :delete %>
<% else %>
  <%= link_to "Sign up", new_team_registration_path %> or
  <%= link_to "Sign in", new_team_session_path %>
<% end %>

<hr>
<% if controller.controller_name == 'challenges' %>
  <div id="team_current_score">
     Team's score: <%= current_team.current_score %>
  </div>
<% end %>

<%= yield %>

</body>
</html>
