<!DOCTYPE html>
<html>
<head>
  <title>FsCompetition</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if notice %>
  <p class="alert alert-info"><%= notice %></p>
<% end %>

<% if alert %>
  <p class="alert alert-info"><%= alert %></p>
<% end %>


<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <% if team_signed_in? %>
      <div class="text-right">
        Signed in as: <strong>Team <%= current_team.name %></strong> |
        <span class="btn-group">
          <%= link_to "Edit profile", edit_team_registration_path, method: :get, class: "btn btn-primary btn-sm" %>
          <%= link_to "Sign out", destroy_team_session_path, method: :delete, class: "btn btn-danger btn-sm" %>
        </span>
      </div>
    <%# else %>
      <%#= link_to "Sign up", new_team_registration_path %>
      <%#= link_to "Sign in", new_team_session_path %>
    <% end %>


    <% if controller.controller_name == 'challenges' %>
      <div id="team_current_score" class="lead">
         Team's score: <span class="label label-info"><%= current_team.current_score %></span>
      </div>
    <% end %>

    <%= yield %>
  </div>
  <div class="col-md-1"></div>
</div>


</body>
</html>
